.left-menu {
	color: blue;
	width: 300px;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
	float: left;
	margin-right: 20px;
}

.main-content {
	width: 500px;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
	float: left;
}

.clear {
	clear: both;
}

.menu-items a {
	
}